OFX Transactions Loaded

Bank Account
<table>
  <tr><td>Number</td><td><%= @ofx.bank_account.number %></td></tr>
  <tr><td>Routing Number</td><td><%= @ofx.bank_account.routing_number %></td></tr>
  <tr><td>Balance</td><td><%= @ofx.bank_account.balance %></td></tr>
</table>
<br/>
Statement
<table>
  <tr><td>Start Date</td><td><%= @ofx.bank_account.statement.start_date %></td></tr>
  <tr><td>End Date</td><td><%= @ofx.bank_account.statement.start_date %></td></tr>
  <tr><td>Transactions</td><td><%= @ofx.bank_account.statement.transactions.size %></td></tr>
</table>
<br/>
New Transactions
<table>
  <tr><th>Payee</th><th>Type</th><th>Amount</th><th>Memo</th><th>Sic</th><th>TID</th><th>Check #</th></tr>
  <% @ofx.bank_account.statement.transactions.each do |t| %>
    <tr><td><%= t.payee %></td><td><%= t.type %></td><td><%= t.amount %></td><td><%= t.memo %></td><td><%= t.sic %></td><td><%= t.fit_id %></td><td><%= t.check_number %></td></tr>
  <% end -%>
</table>

<%= link_to "Reconcile Transactions", {:controller=>'accounts', :action=>'show_reconcile_batch', :id=>@account.id } %>