<%= f.error_messages %>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :parent_id, "Parent" %><br />
  <%= collection_select(:category, :parent_id, @all_categories, :id, :long_name) %>
</p>

<script>
  jQuery('input#category_name').focus();
</script>