<% form_for(@new_transaction) do |f| %>
<table class='transaction'>
  <tr class='transaction'> 
    <td>
      <table>
        <tr class='odd'>
          <td colspan="2" align=center ><%= f.date_select :date %></td>
        </tr>
        <tr class='even'>
          <td></td>
          <td></td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr class='odd'>
          <td><%= f.text_field :check_num, :size=>10 %>
          </td>
        </tr>
        <tr class='even'>
          <td>
            <%= f.hidden_field :account_id %>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr class='odd'>
          <td colspan="2"><%= f.text_field :name, :size=>48  %></td>
        </tr>
        <tr class='even'>
          <td><%= select_tag 'transaction[category_id]', options_from_collection_for_select(@all_categories, 'id', 'long_name', @transaction.category_id) %></td>
          <td colspan=1><%= f.text_field :description, :size=>30  %></td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr class='odd'>
          <td align=center><%= select_tag 'transaction[transaction_type_id]', options_from_collection_for_select(@transaction_types, 'id', 'name', @transaction.transaction_type_id) %></td>
        </tr>
        <tr class='even'>
          <td/>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr class='odd'>
          <td><%= f.check_box :registered %></td>
        </tr>
        <tr class='even'>
          <td/>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr class='odd'>
          <td colspan=1 align=right><%= text_field_tag "transaction[amount]", number_with_precision(0, 2), {:size =>7, :text_align=>'right', :id=>'transaction_amount'} %></td>
        </tr>
        <tr class='even'>
          <td/>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr class='odd'>
          <td class='balance' align='center'><%= f.submit "Create" %></td>
        </tr>
        <tr class='even'>
          <td><a NAME="end"/></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<%= f.error_messages %>
<% end %>

