Showing <%= @offset + 1 %> - <%= @offset + @rpp %> of <%= @transaction_count %> transactions.
<br/>
<div id="trans_nav">
  <%= link_to "<<", url_for(params.merge(:offset=>params[:offset]-10)) %>
  <%= link_to "<", url_for(params.merge(:offset=>params[:offset]-1)) %>
  <%= link_to ">", url_for(params.merge(:offset=>params[:offset]+1)) %>
  <%= link_to ">>", url_for(params.merge(:offset=>params[:offset]+10)) %>
  <%= link_to "Jump To Last", url_for(params.merge(:offset=>@account.transactions.count)) %>
</div>
<br/>
<div class='transactions_header'>
    <div class="trans_date trans_header">Date</div>
    <div class="trans_num trans_header">Num</div>
    <div class="trans_payee trans_header">Payee / Category / Memo</div>
    <div class="trans_type trans_header">Type</div>
    <div class="trans_clr trans_header">Clr</div>
    <div class="trans_amount trans_header">Amount</div>
    <div class="trans_balance trans_header">Balance</div>
</div>
<!--
-->
<div class='transactions'>
  <% balance = @starting_balance %>
  <% i=0 %>
  <% for transaction in @transactions %>
    <% balance += transaction.amount
       i += 1 %>
    <% form_for(:transaction,
              transaction,
               :url => { :controller => 'transactions',
               :action => 'remote_update', :id => transaction },
               :html=>{:id=>"trans_#{transaction.id}_form", :class=>"trans_form"}
           ) do |f| %>
      <div class='transaction'>
            <div class='trans_date'>
              <div class="even">
                <%= f.date_select :date %>
              </div>
              <div class="odd">
                <%= link_to 'Delete', transaction, :confirm => 'Are you sure?', :method => :delete, :class=>'link_button' %>
                <%= f.submit "Update" %>
              </div>
            </div>
            <div class='trans_num'>
              <div class="even">
                <%= f.text_field :check_num, :size=>10 %>
              </div>
              <div class="odd">
                <div id='update_status_<%=transaction.id.to_s%>'></div>
              </div>
            </div>
            <div class='trans_payee'>
              <div class="even">
                <%= f.text_field :target, :size=>48  %>
              </div>
              <div class="odd">
                <%= select_tag 'transaction[category_id]', options_from_collection_for_select(@all_categories, 'id', 'long_name', transaction.category_id) %>
                <%= f.text_field :description, :size=>26  %>
              </div>
            </div>
            <div class='trans_type'>
              <div class="even">
                <%= select_tag 'transaction[transaction_type_id]', options_from_collection_for_select(@transaction_types, 'id', 'name', transaction.transaction_type_id) %>
              </div>
              <div class="odd">
              </div>
            </div>
            <div class='trans_clr'>
              <div class="even">
                <%= f.check_box :registered, :onchange=>"$('#trans_#{transaction.id}_form').trigger('submit');" %>
              </div>
              <div class="odd">
              </div>
            </div>
            <div class='trans_amount'>
              <div class="even">
                <%= text_field_tag "transaction[amount]", transaction.amount.to_s, {:size =>7, :text_align=>'right', :id=>'transaction_amount', :class => if transaction.amount < 0 then 'debit' else 'credit' end} %>
              </div>
              <div class="odd">
              </div>
            </div>
            <div class='trans_balance'>
              <div class="even">
                <%= balance.to_s %>
              </div>
              <div class="odd">
                <a name="<%=transaction.id.to_s%>"></a>
              </div>
            </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="new_transaction">
  <% form_for(@new_transaction, {:html=>{:class=>''}}) do |f| %>
      <div class='transaction'>
            <div class='trans_date'>
              <div class="even">
                <%= f.date_select :date %>
              </div>
              <div class="odd">
              </div>
            </div>
            <div class='trans_num'>
              <div class="even">
                <%= f.text_field :check_num, :size=>10 %>
                <%= f.hidden_field :account_id %>
              </div>
              <div class="odd">
              </div>
            </div>
            <div class='trans_payee'>
              <div class="even">
                <%= f.text_field :target, :size=>48  %>
              </div>
              <div class="odd">
                <%= select_tag 'transaction[category_id]', options_from_collection_for_select(@all_categories, 'id', 'long_name', "None") %>
                <%= f.text_field :description, :size=>26  %>
              </div>
            </div>
            <div class='trans_type'>
              <div class="even">
                <%= select_tag 'transaction[transaction_type_id]', options_from_collection_for_select(@transaction_types, 'id', 'name', TransactionType::NAMES_TO_IDS['DEB']) %>
              </div>
              <div class="odd">
              </div>
            </div>
            <div class='trans_clr'>
              <div class="even">
                <%= f.check_box :registered %>
              </div>
              <div class="odd">
              </div>
            </div>
            <div class='trans_amount'>
              <div class="even">
                <%= text_field_tag "transaction[amount]", number_with_precision(0, 2), {:size =>7, :text_align=>'right', :id=>'transaction_amount' } %>
              </div>
              <div class="odd">
              </div>
            </div>
            <div class='trans_balance'>
              <div class="even">
                <%= f.submit "Create" %>
              </div>
              <div class="odd">
                <a name="end"></a>
              </div>
            </div>
      </div>
  <%= f.error_messages %>
  <% end %>
</div>
<br/>

<script>
  // $('.trans_form').submitWithAjax();
</script>
