Reconcile Batch Transactions

Bank Account
<table>
  <tr><td>Number</td><td><%= @account.account_number %></td></tr>
</table>
<br/>

Transactions
<table>
  <tr>
    <th>Date</th>
    <th>Check #</th>
    <th>Payee</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Memo</th>
    <th>Reg</th>
  </tr>
  <% @account.transactions.sorted.each do |t| %>
    <tr>
      <td><%= t.date.strftime("%m/%d/%y") %></td>
      <td><%= t.check_num %></td>
      <td><%= t.target %></td>
      <td><%= t.transaction_type.to_s %></td>
      <td><%= t.amount %></td>
      <td><%= t.description %></td>
      <td>
        <%= t.registered ? "X" : '' %>
      </td>
    </tr>
  <% end -%>
</table>