Reconcile Batch Transactions

Bank Account
<table>
  <tr><td>Number</td><td><%= @account.account_number %></td></tr>
</table>
<br/>

Transactions
<table>
  <tr><th>Payee</th><th>Type</th><th>Amount</th><th>Memo</th><th>Check #</th></tr>
  <% @account.transactions.each do |t| %>
    <tr><td><%= t.target %></td><td><%= t.transaction_type.to_s %></td><td><%= t.amount %></td><td><%= t.description %></td><td><%= t.check_num %></td></tr>
  <% end -%>
</table>